.video-list-wrapper {
    display: block;
    .video-list {
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
        .thumbnail {
            cursor: pointer;
        }
        .title {
            margin-top: 0;
            font-size: 11px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

        }
        .description {
            font-size: 9px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;

        }
    }
}